@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  height: 100vh; /* Full viewport height */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content vertically */
  letter-spacing: 0.1rem;
  overflow-y: auto; /* Enable vertical scrolling */
  max-height: 100vh; /* Limit container height to viewport height */
  padding: 20px; /* Adjust padding for spacing */
}

.intro-slideshow img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(50%);
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.search-container {
  text-align: center;
  max-width: 700px;
  padding: 3vh;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
}

.search-container h1 {
  font-size: 4rem;
  margin-bottom: 0.75rem;
  animation: minecraft 2s alternate infinite;
}

@keyframes minecraft {
  from { font-size: 40px; }
  to { font-size: 60px; }
}

.search-container p {
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.search-group input,
.search-group button {
  border: 2px solid white;
  font-size: 18px;
  padding: 12px;
  background-color: transparent;
  color: white;
}

.search-group input {
  width: 500px;
}

.search-group button {
  background-color: #eee;
  color: black;
  transition: all 0.3s;
}

.search-group button:hover {
  opacity: 0.5;
}

#result-address {
  margin-top: 2rem;
  text-decoration: underline;
}

#result-container {
  display: flex;
  align-items: center;
  margin-top: 10vh;
  padding: 1rem; /* Add padding for spacing */
  gap: 3vw;
}

#map {
  width: 40vh;
  height: 40vh;
}

.display {
  padding: 2vw;
  background-color: rgba(0, 0, 0, 0.5);
}

#status, #weather, #airQuality {
  overflow-wrap: break-word; /* Break long words if necessary */
  word-wrap: break-word; /* Ensure compatibility with older browsers */
  font-size: 2vw;
  max-width: 100%; /* Ensure text does not overflow container */
}

@media (max-width: 1100px) {

  @keyframes minecraft {
    from { font-size: 7vw; }
    to { font-size: 9vw; }
  }

  .search-container{
    max-width: 100%;
  }

  .search-container p {
    font-size: 1.25rem;
  }

  .search-group input {
    font-size: 16px;
    width: 50vw;
  }

  .search-group button {
    font-size: 16px;
    padding: 10px;
  }

  #result-container {
    flex-direction: column;
    align-items: center; /* Center items vertically */
    background-color: aqua;
    max-width: 100%;
  }

  #map {
    max-width: 100%; /* Ensure display container takes full width on mobile */
  }

  #status, #weather, #airQuality {
    font-size: 1.5rem;
  }

  .display {
    max-width: 100%; /* Ensure display container takes full width on mobile */
  }
}
